
input#name{
	box-sizing: 40px;
	box-shadow: 50px gray;
	border-radius: 15px;
	border-color: white;
	border-left-color: 5px blue;
	border: none;
	filter: drop-shadow(3px 3px 3px gray);
}
input#email{
	box-sizing: 40px;
	box-shadow: 50px gray;
	border-radius: 15px;
	border-color: white;
	border:none;
	filter: drop-shadow(3px 3px 3px gray);
}
input#phone{
	box-sizing: 40px;
	box-shadow: 50px gray;
	border-radius: 15px;
	border-color: white;
	border:none;
	filter: drop-shadow(3px 3px 3px gray);
}
textarea#message{
	box-sizing: 40px;
	box-shadow: 50px gray;
	border-radius: 15px;
	border-color: white;
	border:none;
	filter: drop-shadow(3px 3px 3px gray);
}
input.in5{
	box-sizing: 50px;
	background-color: white;
	border-radius: 10px;

	border: 2px solid black;
	margin-bottom: 7px;
	font-weight: 300;

}
div.d5{
	text-align: center;
}
input[type="submit"]:hover{
	cursor: pointer;
	background: #50cebb;
}
div.in{
	margin: 100px 30px;
	border-radius: 20px;
	filter: drop-shadow(5px 5px 5px gray);
	width: 380px;
}
 p.parph{
border-style: groove;
margin-top: 10%;
text-align: center;
right: 10%;
background-color: gray;
}
h3{
	text-align:center;

}
.img{

}
.social-media{
  display: flex;
  justify-content: center;
  margin-top: 4%;

}
.social-icon{
  height: 46px;
  width: 46px;
  border:1px solid #333;
  margin: 0 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  border-radius: 50%;
  transition: 0.3s; 
}
.social-icon::hover{
  color: #4481eb;
  border-color: #4481eb;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.racine{
	margin-top: 4%;

}
.hr2{
	height:2px;
	border-width:0;
	color:gray;
	background-color:gray;
}
.img_section5 {
	filter: blur(5px);
	transition: .3s ease-in-out;
}
.img_section5:hover {
	filter: blur(0);
	
}
.footer{
	padding-top: 5%;
}
.copyright
{
	margin-top: -2%;
}
.myForm{
   	background-color: rgba(0,0,0,0.5) !important;
   	padding: 40px !important;
   border-radius: 15px !important;
   color: white;
top: -400px;
left: 35%;
   }
   .myFor{
   	background-color: rgba(0,0,0,0.5) !important;
   	padding: 40px !important;
   border-radius: 15px !important;
   color: white;
   }
   h2{
   	 margin: 0;
  text-align: center;
  font-size: 100px;
  overflow: hidden;
  line-height: 1;
   }
   h2 span{
   	 display: block;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
   }
@keyframes reveal {
  0% {
    transform: translate(0,100%);
  }
  100% {
    transform: translate(0,0);
  }
}